#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
#background {
    background-image: url('../../images/index-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}