.img-background {
  width: 100%;
  height: 300px;
  background-image: url('http://ipfs.jumu.tk/QmUFZGKFic3GVeWmkeGu1p2BpAYMPj5ZTamvwv29uRBg4C');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-icon {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.icon-style {
  padding-right: 10px;
  font-size: 20px;
  color: #1da1f2
}
.line-space {
  padding: 6px;
  font-size: 15px;
}