.slideimg {
    padding-top: 0px !important;
    width: 100%;

  }

  .rowsong{
    padding-left:0px!important; 
  }
  .titlemusic{
    margin-top:20px!important;
  
  }

  .wrapperbxh{
    margin-top:20px!important;
    /* text-align: center; */
  }

  .bxhcontent{
    /* display: inline-block; */
  }

  .h2bxh{
    padding-left:0px!important; 
    /* display: inline-block; */
  }

  .img-bxh{
    width: 50px;
  }
  